body {
  top: 0;
  margin: 0;
  padding: 0;
}

.navbar {
  display: grid;
  align-content: center;
  background-color: #1C202D;
  width: 100%;
  height: 2rem;
}

.navbar-brand{
  margin-left: 1rem;
  color: #3BBA9C;
}

